@{
   
}

<h1>Add Cheese</h1>

<form method="POST">
    <label>Cheese Name: </label><input name="name" type="text" value="Enter Cheese Name" />
    <label>Cheese Description: </label><input name="description" type="text" value="Enter Cheese Description" />
    <input type="submit" value="Add Cheese" />

</form>
